<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation App</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/module.js"></script>
  <script src="javascripts/controllers.js"></script>
  <script src="javascripts/service.js"></script>
</head>

<!-- Modal -->
<!-- <div class="container">
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Make Reservation</h4>
	      </div>
	      <div class="modal-body">
	        <input type="text" placeholder="Name" ng-model="editObj.name" id="editName">
	        <input type="date" ng-model="editObj.date" id="editDate">
	        <input type="text" placeholder="Size of your Party" ng-model="editObj.partySize" id="editpartySize">
	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-click='updateReservation(reservation)'>Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
 -->

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="new-worker-title">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click='cancelEditing()' data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="new-card-title">Edit Detail</h4>
				</div>
				<form id="editPlacesForm">
					<div class="modal-body">
						<label class='control-label'>Name</label>
						<input required placeholder='Name' ng-model='listEd.name' class='input form-control' >
						<label class='control-label'>Time</label>
						<input required placeholder='Time' type="datetime-local" ng-model='listEd.time' class='input form-control'>
						<label class='control-label'>Party Size</label>
						<input class="form-control"  ng-model="listEd.partySize" type="number" placeholder="Party Size">
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click='cancelEditing()' data-dismiss="modal">Cancel</button>
					<button form='newworkerform' type="button" class="btn btn-info" ng-click='updateReservation(listEd)'>Submit</button>
				</div>
			</div>
		</div>
	</div>

<body ng-app='reservationApp' ng-controller='listCtrl'>
<div class="container">
	<center>
	<br />
	<div id="title">	
  <h1>Make a Reservation</h1>
  </div>
  <br />

		<input class="form-control"  ng-model="newReservation.name" type="text" placeholder="Name">
		<br />
		<input class="form-control"  ng-model="newReservation.date" type="datetime-local">
		<br />
		<input class="form-control"  ng-model="newReservation.partySize" type="number" placeholder="Party Size">
		<br />

		<span id="filterbox"><input class="form-control" size=30 placeholder="filter name..." ng-model='filterText'></span>
		<br />
		<button class="btn btn-info btn-lg" ng-click='addReservation(newReservation)'>Add Reservation</button>

 	
	<br />
	<br />
	<table ng-if='!showDetails' class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date/Time</th>
				<th>Party Size</th>
				<th>Check In</th>	
				<th>Edit Detail</th>	
				<th>Delete</th>	
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='reservation in reservations | filter: {name : filterText} track by $index' ng-if='!reservation.checkin || showAllReservations' >
				<td>{{reservation.name}}</td>
				<td>{{reservation.date | date:"MM/dd/yyyy 'at' h:mma"}}</td>
				<td>{{reservation.partySize}}</td>
				<td>
					<input type="checkbox" ng-model="reservation.checkin" ng-change="check(reservation, reservation.checkin)">
				</td>
				<td>
					<button ng-click='editDetail(reservation)' class="btn btn-success" data-toggle='modal' data-target='#edit-card-modal'><i class="fa fa-pencil-square"></i></button>
				</td>
				<td>
						<button ng-click='removeReservation(reservation)' class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
	<br />

	<button class="btn btn-warning btn-lg" ng-click="showAllReservations =! showAllReservations">Show All</button>
	<!-- <table ng-if='showDetails' class="table" ng-click='showDetail(thisFood)'>
		<tbody>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Party Size</th>
				<th>Check-in</th>
			</tr>
			<tr>
					<td>{{detailedReservation.name}}</td>
					<td>{{detailedReservation.date | date}}</td>
					<td>{{detailedReservation.partySize}}</td>
					<td>{{detailedReservation.checkin}}</td>
					<td>
							<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal" ng-click='editReservation(detailedReservation)'><i class="fa fa-pencil-square-o"></i></button>
					</td>
					

			</tr>
		</tbody>
	</table> -->
	

	<button class="btn btn-info btn-lg" ng-click="changeState()">Message</button>
	<button class="btn btn-primary btn-lg" ng-click="goHome()">Home</button>
	<br />
	<br />
	<ui-view></ui-view>

	 </center>
	</div>
</body>
</html>
