<h1>Thanks for Visiting! We Miss You!</h1>

<!-- <h1>Edit Reservation</h1>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="new-worker-title">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click='cancelEditing()' data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="new-card-title">Edit Reservations</h4>
				</div>
				<form id="editPlacesForm">
					<div class="modal-body">
						<label class='control-label'>Reservation</label>
						<input required placeholder='Note' ng-model='listEd.comment' class='input form-control' >
					</div>
				</form>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click='cancelEditing()' data-dismiss="modal">Cancel</button>
					<button form='newworkerform' type="button" class="btn btn-info" ng-click='commitEdit(listEd)'>Submit</button>
				</div>
			</div>
		</div>
	</div>

<div class="container well">

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Time</th>
						<th>Party Size</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="reservation in reservations">
						<td>{{note.comment}}</td>
						<td>{{note.place_id}}</td>
						<td>
							<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-card-modal" ng-click='editReservation(reservation)'><i class="fa fa-pencil-square-o"></i></button>
						</td>
						<td>
							<button ng-click='removeReservation(reservation.reservation_id)' class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
						</td>

					</tr>
				</tbody>
			</table>

	</div> -->
							<!-- <td>
							<a ui-sref="detail">
							<button ng-click='clickNote()' class="btn btn-primary btn-sm"><i class="fa fa-comments"></i></button>
						</td> -->